.block_myprofile img.profilepicture { height:100px; width:100px;}
.block_myprofile .myprofileitem.fullname {font-size:1.5em; font-weight: bold;}
.block_myprofile .myprofileitem.edit {text-align: right;}
/*.block_myprofile .header .title h2:before{
	content:url('http://cbsi-connect.org/theme/lambda/pix/cbsiconnect_small.png')!important;
	background-color: transparent!important;
	height: 100%!important;
	overflow: hidden;
    background-size: cover;
    width: 12%!important;
    border-radius: 13px;
    margin-left:0px!important;
}
*/
