 /* Fonts */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('font/proximanova-bold.eot');
    src: url('font/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-bold.woff') format('woff'),
         url('font/proximanova-bold.ttf') format('truetype'),
         url('font/proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('font/proximanova-regular.eot');
    src: url('font/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-regular.woff') format('woff'),
         url('font/proximanova-regular.ttf') format('truetype'),
         url('font/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('font/proximanova-light.eot');
    src: url('font/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('font/proximanova-light.woff') format('woff'),
         url('font/proximanova-light.ttf') format('truetype'),
         url('font/proximanova-light.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




body { background: url(http://cbsi-connect.net/theme/msu/pix/dust.png);  font-family: 'proxima_nova_rgregular';}
#container {width: 750px; margin:0 auto; /*outline: 1px solid red;*/ padding-top: 0px;}	
.wizard {/* padding: 20px 50px 20px 50px; */ overflow: hidden; margin-left: -6px; margin-top: -8px;}
.wizard h1 { text-align: center; color: #fff; font-size: 33px; margin: 0px;}
.wizard h2 {text-align: center; color: #4f617a; font-size: 28px; margin: 25px auto 0px auto }
.wizard .nav b {margin:0px;}
.wizard b { color: #4f617a; font-size: 21px;  margin-top: 15px; margin-bottom: 10px; display: block; font-weight: lighter; }
.wizardButton { background: #64ABB7 ; color: #fff; border: none; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; width: 85px; height: 30px; float: left; font-size: 14px; }
.wizardButtonDisabled { background: #ddd; color: #22334C; border: none; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; width: 85px; height: 30px; float: left; font-size: 14px;}
.wizardButton:hover { background: #22334C; color: #fff; cursor: pointer;}
.wizard input[type='text'] { width: 484px; height: 45px; border:2px solid #4f617a; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius: 5px; padding-left: 10px;}
.checkmark input[type='checkbox'] { width: 36px; height: 36px;}

.wizard input[type='radio'] { /* width:33px; height: 45px; margin: 5px 0px 5px 0px; background: #fff; */   opacity: 0;
  z-index: 9999; }
 .overlay{  display: inline-block;   position: relative; top: 8px;  left: -1em; /* or whatever length you need here */   height: 33px;  width: 33px;  background-color: white;  border-radius: 50%; -webkit-border-radius:50%; -moz-border-radius:50%; border:2px solid #4f617a;} 
 .wizard input[type=radio]:checked + .overlay {
  background-color: #64ABB7;
}



.wizard input#classtimestart { width: 241px; height: 45px; border: 2px solid #4f617a; -webkit-border-radius: 5px; border-radius:5px; -moz-border-radius:5px; padding-left: 10px; margin-top: 15px; position: relative; float: left;}
.wizard input#classtimestart:after { content: ''; background: url(http://cbsi-connect.net/theme/msu/pix/calendar.png); width: 39px; height: 43px; position: absolute; display: block; top: -5px; left: -5px; }
.wizard input#class_begin_timetxt:after {content: ''; background: url(http://cbsi-connect.net/theme/msu/pix/ClockGraphic.png); width: 39px; height: 39px; position: absolute; display: block; top: 5px; right: 5px;}
/* .formWrap:after { content: ''; background: url(http://cbsi-connect.net/theme/msu/pix/bluecalendar.png); width: 39px; height: 43px; position: absolute; display: block; top: 37px; right: -26px;}
*/
.clock {position: absolute; bottom: -59px; right: -30px;}
.ui-datepicker-trigger {position: absolute; display: block; top: 37px; right: -30px; cursor: pointer;}
.wizard form input  { width: 33px;}
.wizard select { width: 242px; height: 45px; border:2px solid #4f617a; -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px; padding-left: 10px; margin-bottom: 15px; }
.wizard textarea {width: 484px; height: 167px; border:2px solid #4f617a; -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px; padding-left: 10px; padding-top: 10px;}
.formWrap {width: 516px; margin-top: -24px; height: 120px; position: relative;}
.formalign { margin: 25px 0px 30px 64px;}
.wizardLeft {float: left; width: 313px; border-right:1px solid #4f617a; position: relative; margin: 30px 0px 30px 45px;}
.wizardRight .wizardChoice  {  margin: 106px 0px 0px 49px;}
span.or {width: 50px; height: 50px; border-radius: 50%; background: #fff; text-align: center; color: #22334C; font-size: 28px; position: absolute; top: 162px; right: -26px; line-height:47px; border: 1px solid #22334C;}
.exitWizard { cursor: pointer; background: #E05B3A !important; padding: 10px; color: #fff; font-size: 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius:5px;
width: 115px; height: 34px; display: block; line-height: 13px; text-align: right; position: absolute; top:0px; right: 0px; border: none; margin: 5px 3px 0px 0px; }
.exitWizard:before {content: ''; background: url(http://cbsi-connect.net/theme/msu/pix/btn_exit_white.png); width: 20px; height: 21px; position: absolute; display: block; top: 7px; left:5px;}
.ui-widget-header {background: #64ABB7 !important; color: #fff !important;}
.ui-state-default, .ui-widget-content .ui-state-default { background: #64ABB7 !important; color: #fff !important;}
.dateChoice {display: none;}


.nav {overflow: hidden; margin: 35px 0px 25px 18px;}
.navWrap { background: url(http://cbsi-connect.net/theme/msu/pix/stripebg.png); border-bottom: 1px dotted #64ABB7 !important; padding: 20px 50px 20px 50px;}
.navWrap.bottomNav { background: url(http://cbsi-connect.net/theme/msu/pix/stripebg.png); border-top: 1px dotted #64ABB7 !important; border-bottom: none !important; padding: 20px 50px 20px 50px;}

.navWrap h1 {color: #4f617a; margin-top: 20px; }
.nav input:hover { background: white; color: #22334C;}
.nav ul {float: left; padding: 0px; margin: 0px 74px;}
.nav ul li { display: block; float: left; padding: 5px 10px; color: #22334C;  background: #ddd ;  border-right:1px solid #22334C; font-size: 14px; cursor: auto; }
.nav ul li.done { background: #64ABB7; cursor: pointer;}
.nav ul li:hover {background: #ddd !important;  cursor: auto;}
.nav ul li.done input:hover {cursor: pointer; background: #fff !important; }
.nav ul li.done:hover {cursor: pointer;background: #fff !important; }
.na ul li:active {}
.nav ul li:last-child {border:none;}
.nav ul li input {border: none; cursor: pointer;
background: none; color: #22334C ;
}
.nav ul li input:hover { cursor: auto; background: #ddd}
.nav ul li input[type='text']:disabled {cursor: auto;}

.wizardChoices {margin-left: -6px;  overflow: hidden; padding: 0px 0px 30px 78px;}
.wizardChoices.oneoption {padding:0px 0px 30px 216px;}
.wizardChoices h2 {text-align: center; color: #fff; font-size: 28px; width: 104px;}
.wizardChoice {float: left; width: 240px; margin: 5px 0px 4px 47px; height: 180px;}
.wizardChoice p {background:#fff; border: 2px solid #4f617a;  font-size: 22px; padding: 30px 10px; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align: center;  color: #22334C;}
.wizardChoice p:hover {background: #939393;  color: #22334C;  cursor: pointer;}
.wizardChoice p.active { background: #22334C; color: #fff;}
.wizardInfo { color: #22334C; margin-top: 10px; font-size: 16px;}
#cohort_selection {width: 528px; height: 250px; margin-top: 239px; font-size: 13px; border-radius: 5px; float: left; clear: both; position: relative; right: -47px; margin-top: 5px; display: none;}
.lineUp { font-size:14px; display: inline-block; margin-left: 12px; width: 390px; position: relative; top: -12px; left: -3px;  color: #22334C; padding-left: 58px; }
.existingChoice {margin:10px 0px 0px 158px;}
.errors {color: #E05B3A; position: relative;/* left: 6px; */float: left;width: 215px;top: 5px;}
.errors1 {color: #E05B3A;position: relative;left: 0px;/* width: 250px; */float: left;top: 5px;}
.errorsLan {color: #E05B3A; position: relative;/* left: 6px; */float: left;width: 461px;top: 1px;/* clear: both; */}


/* Flags */

/*.Jamaica:before {content: ''; background: url(/theme/msu/pix/smallFlags/jamaica.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Dominican:before {content: ''; background: url(/theme/msu/pix/smallFlags/dominican.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Royal:before {content: ''; background: url(/theme/msu/pix/smallFlags/royals.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Saint:before {content: ''; background: url(/theme/msu/pix/smallFlags/royalVincent.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Grenada:before {content: ''; background: url(/theme/msu/pix/smallFlags/royalGrenada.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Guyana:before {content: ''; background: url(/theme/msu/pix/smallFlags/guyana.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Suriname:before {content: ''; background: url(/theme/msu/pix/smallFlags/suriname.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Barbados:before {content: ''; background: url(/theme/msu/pix/smallFlags/barbados.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Dominica:before {content: ''; background: url(/theme/msu/pix/smallFlags/dominca.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
.Trinidad:before {content: ''; background: url(/theme/msu/pix/smallFlags/trinidad.png); width: 47px; height: 27px; position: absolute; display: block; top:-6px; left:1px;}
*/


/*"Dominican National Police Training Academy*/
.DNPTA:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/dnpta.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Bahamas Police Force Training College*/
.RBPFTC:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/bahamas.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Saint Vincent and the Grenadines Police Force Academy*/
.RSVGPFA:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/saint_vincent.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Grenada Police Force, Special Services Unit*/
.RGPFSSU:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/grenada.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Suriname Korps Politie Police Academy*/
.SKPPA:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/suriname.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Guyana Police Force Training School*/
.GPFTS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/guyana.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Jamaica Constabulary Force*/
.JCF:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/jamaica.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Trinidad and Tobago Police Service*/
.TTPS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/trinidad.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Barbados Regional Security System*/
.BRSS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/barbados.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Barbados Regional Police Training Centre*/
.BRPTC:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/barbados.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Saint Christopher and Nevis Police Force Training Complex*/
.RSCNPFTC:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/saint_christopher.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Police Academy of Antigua and Barbuda Training School*/
.RPAABTS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/antiqua_barbuda.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*La Direcci\u00f3n Nacional de Control de Drogas*/
.DPFTS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/dpfts.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Royal Saint Lucia Police Force Academy*/
.RSLPFA:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/saint_lucia.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Academy One*/
.Academy1:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/america.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*Academy One*/
.Academy2:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/america.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}

/*MSS*/
.MSS:before {
    content: ''; 
    background: url(/theme/msu/pix/smallFlags/mss.png); 
    width: 47px; 
    height: 27px; 
    position: absolute; 
    display: block; 
    top:-6px; 
    left:1px;
}
