.collapsibleList .active{
   font-weight:600;
}
.collapsibleList{
    margin: 0 0 10px 0px;
}
.collapsibleList{
    margin: 0 0 10px 0px;
}
.collapsibleList li > input + * {
    display: none;
}

.collapsibleList li > input:checked + * {
    display: block;
}

.collapsibleList li > input {
    display: none;
}

.collapsibleList label {
    cursor: pointer;
}
.mrx {
    margin:8px 0px !important;
}
