.block_login_logout .loginform .c1 {font-size:12px; margin:0px 2px 4px 0px;text-align:right;}
.block_login_logout .loginform .c1.fld input {width:5em;}
.block_login_logout .loginform .c1.fld label {padding-right:3px;}
.block_login_logout .loginform .c1.btn {text-align:center;}
.block_login_logout .loginform .c1.btn input {padding:2px 10px 2px 10px;}

.block_login_logout .logoutusername, .logoutuserimg {text-align:center; font-size:10pt; padding:2px;}
.block_login_logout .logoutbtn {text-align:center; font-size:10pt;}
.block_login_logout .logoutbtn button {padding:2px 10px 2px 10px;}
.block_login_logout .logoutfooter {text-align:center; font-size:8pt; padding:2px;}


