/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);


body {
    font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
/*    width: 400px;*/
    margin: 50px auto;
    /*text-align: center;*/
    position: relative;
    clear:both;
}
#msform fieldset {
/*    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
    padding: 20px 30px;
/*    box-sizing: border-box;*/
    width: 750px;
    margin: auto auto;
    /* position: absolute; */
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
/*#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #22334C;
    font-size: 13px;
}*/

#msform input, #msform textarea {
    width: 484px;
    height: 45px;
    border: 2px solid #4f617a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
/*buttons*/
/*#msform .action-button {
    width: 240px;

    background: #FFF;*/
    /* font-weight: bold; */
/*    color: #22334C;;
    border: 2px solid #4f617a;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px 10px;*/
    /*margin: 10px 5px;*/
/*    margin-left: auto;
    margin-right: auto;
    height: 118px;
    font-size: 18px;
    word-wrap: break-word;
}
*/
#msform .action-button {
    background: #64ABB7;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 85px;
    height: 30px;
    float: left;
    font-size: 14px;
}

.previous-position {
    position: fixed;
    top: 110px;
    right: 1100px;
}

.next-position {
    position: fixed;
    top: 110px;
    right: 600px;
}


#msform .action-button:hover, #msform .action-button:focus {
    background: #939393;
    color: #22334C;
    cursor: pointer;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    float: left;
    margin: 0 75px;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: auto;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    /*width: 20px;*/
    /*line-height: 20px;*/
    display: block;
    font-size: 14px;
    color: #333;
    background: #ddd;
    margin: 0 auto 5px auto;
    padding: 5px 10px;
    border-right: 1px solid #22334C;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/

}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #64ABB7;
    color: white;
}
